.blog-post {
  position: relative;
  .back-to-blog {
    position: fixed;
    background-color: #fff;
    width: 100%;
    padding: 10px 0px 10px 10px;
    border-bottom: 1px solid rgba(34, 34, 34, 0.25);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    height: 43px;
    a {
      display: grid;
      grid-template-columns: min-content max-content;
      grid-gap: 5px;
      width: 125px;
      align-items: center;
    }
  }
  a {
    display: inline-block;
    padding-left: 7.5px;
    transition: color .25s ease;
    &:hover {
      color: rgb(194, 77, 1);
    }
  }
  .container {
    width: 100%;
    background-color: #efefef;
    padding: 20px 0px;
    .markdown-body {
      background-color: #fff;
      padding: 20px;
      width: calc(95vw - 15px);
      font-size: .85em;
      margin: 48px auto 5px auto;
      font-family: Lora;
    }
  }
}

@media (min-width: 800px) {
  .blog-post {
    position: relative;
    .back-to-blog {
      position: fixed;
      background-color: #fff;
      width: 100%;
      padding: 10px 0px 10px 10px;
      border-bottom: 1px solid rgba(34, 34, 34, 0.25);
      box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
      height: 43px;
      a {
        display: grid;
        grid-template-columns: min-content max-content;
        grid-gap: 5px;
        width: 125px;
        align-items: center;
      }
    }
    a {
      display: inline-block;
      padding-left: 10px;
      transition: color .25s ease;
      &:hover {
        color: rgb(194, 77, 1);
      }
    }
    .container {
      width: 100%;
      padding: 20px 0px;
      background-color: #cddcdc;
      background-image: radial-gradient(
          at 50% 100%,
          rgba(255, 255, 255, 0.50) 0%,
          rgba(0, 0, 0, 0.50) 100%
        ),
        linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0.25) 0%,
          rgba(0, 0, 0, 0.25) 100%
        );
      background-blend-mode: screen, overlay;
      .markdown-body {
        background-color: #fff;
        width: calc(60vw - 30px);
        padding: 20px;
        margin: 48px auto 5px auto;
        font-size: 1.2em;
        font-family: Lora;
        box-shadow: 0 1px 4px rgba(0, 0, 0, .22);
        pre {
          background-color: #ececec;
          background-image: radial-gradient(
              at 50% 100%,
              rgba(255, 255, 255, 0.50) 0%,
              rgba(0, 0, 0, 0.50) 100%
            ),
            linear-gradient(
              to bottom,
              rgba(255, 255, 255, 0.25) 0%,
              rgba(0, 0, 0, 0.25) 100%
            );
          background-blend-mode: screen, overlay;
        }
      }
    }
  }
}
