* {
  box-sizing: border-box; }

::-moz-focus-inner {
  padding: 0;
  border: none; }

:focus {
  outline: 0; }

html,
body {
  height: 100%; }

html {
  font-size: 62.5%;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent; }

body {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 1.5rem;
  line-height: 1.47; }

main,
li {
  display: block; }

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }

table {
  width: 100%;
  max-width: 100%;
  text-align: left;
  border-collapse: collapse;
  border-spacing: 0; }

th, td {
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: inherit; }

p {
  margin: 0; }

strong {
  font-weight: bold; }

a,
button,
input,
label,
select,
textarea {
  touch-action: manipulation; }

input,
button {
  overflow: visible; }

a,
button {
  transition: .3s;
  color: inherit; }

a {
  text-decoration: none; }

button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font: inherit;
  line-height: 1;
  cursor: pointer; }

img {
  border: none; }

input,
textarea {
  margin: 0;
  font: inherit;
  appearance: none; }

textarea {
  resize: vertical; }

svg {
  display: block;
  fill: currentColor; }

.Home .hero {
  display: block;
  position: relative;
  background-color: #2a2a2a;
  min-height: 40vh;
  background: linear-gradient(to bottom, #323232 0%, #3f3f3f 40%, #1c1c1c 150%), linear-gradient(to top, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.25) 200%);
  background-blend-mode: multiply; }
  .Home .hero h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    display: inline-block;
    font-size: 1.25em;
    text-align: center;
    color: rgba(255, 255, 255, 0.8); }
    .Home .hero h1 span {
      color: #ff6600; }

.Home .container {
  display: flex;
  flex-direction: column; }
  .Home .container h2 {
    font-size: 1.75em; }
  .Home .container p {
    font-size: 1.25em; }
  .Home .container .bigPicture {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative; }
    .Home .container .bigPicture > div .img {
      width: 100%;
      height: 87.5vh;
      background-size: cover;
      background-position: top;
      transform: scale(1.01);
      transition: transform .55s ease;
      background-repeat: no-repeat; }
    .Home .container .bigPicture .overlay {
      background: rgba(0, 0, 0, 0.25);
      top: 0;
      opacity: 0;
      position: absolute;
      height: 100%;
      width: 100%;
      transition: background .25s ease, opacity .25s ease; }
      .Home .container .bigPicture .overlay .project-information {
        position: absolute;
        bottom: 0px;
        padding-bottom: 15px;
        color: #fff;
        width: 100%;
        align-items: end;
        transform: translateY(59px);
        transition: transform .55s ease;
        background: rgba(0, 0, 0, 0.55);
        padding-top: 10px; }
        .Home .container .bigPicture .overlay .project-information .description {
          grid-column: span 2;
          padding: 0px 15px; }
    .Home .container .bigPicture:hover > div .img {
      transform: scale(1.02); }
    .Home .container .bigPicture:hover .overlay {
      opacity: 1;
      background: rgba(0, 0, 0, 0.2); }
      .Home .container .bigPicture:hover .overlay .project-information {
        transform: translateY(0px); }
  .Home .container .icon {
    display: inline-block;
    overflow: hidden;
    position: relative;
    min-height: 66vh; }
    .Home .container .icon > img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      max-width: 175px;
      width: auto;
      transition: transform .45s ease; }
    .Home .container .icon .overlay {
      background: rgba(0, 0, 0, 0.25);
      opacity: 0;
      position: absolute;
      height: 100%;
      width: 100%;
      transition: background .25s ease, opacity .25s ease; }
      .Home .container .icon .overlay .project-information {
        position: absolute;
        bottom: 0px;
        padding-bottom: 15px;
        color: #fff;
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        align-items: end;
        transform: translateY(100px);
        transition: transform .55s ease;
        background: rgba(0, 0, 0, 0.55);
        padding-top: 10px; }
        .Home .container .icon .overlay .project-information .description {
          grid-column: span 2;
          padding: 0px 15px; }
    .Home .container .icon:hover img {
      transform: translate(-50%, -50%) scale(1.25); }
    .Home .container .icon:hover .overlay {
      opacity: 1;
      background: rgba(0, 0, 0, 0.2); }
      .Home .container .icon:hover .overlay .project-information {
        transform: translateY(0px); }

@media (min-width: 768px) {
  .Home .hero {
    display: block;
    position: relative;
    background-color: #2a2a2a;
    min-height: 40vh;
    background: linear-gradient(to bottom, #323232 0%, #3f3f3f 40%, #1c1c1c 150%), linear-gradient(to top, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.25) 200%);
    background-blend-mode: multiply; }
    .Home .hero h1 {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      transform: translate(-50%, -50%);
      display: inline-block;
      font-size: 1.75em;
      color: rgba(255, 255, 255, 0.8); }
      .Home .hero h1 span {
        color: #ff6600; }
  .Home .container {
    display: flex;
    flex-direction: column; }
    .Home .container h2 {
      font-size: 2.25em; }
    .Home .container p {
      font-size: 1.25em; }
    .Home .container .bigPicture {
      overflow: hidden;
      display: flex;
      flex-direction: column; }
      .Home .container .bigPicture > div .img {
        width: 100%;
        height: 75vh;
        background-size: cover;
        background-position: top;
        transform: scale(1.01);
        transition: transform .55s ease;
        background-repeat: no-repeat; }
      .Home .container .bigPicture .overlay {
        background: rgba(0, 0, 0, 0.25);
        opacity: 0;
        position: absolute;
        height: 100%;
        width: 100%;
        transition: background .25s ease, opacity .25s ease; }
        .Home .container .bigPicture .overlay .project-information {
          position: absolute;
          bottom: 0px;
          padding-bottom: 15px;
          color: #fff;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          width: 100%;
          align-items: end;
          transform: translateY(59px);
          transition: transform .55s ease;
          background: rgba(0, 0, 0, 0.55);
          padding-top: 10px; }
          .Home .container .bigPicture .overlay .project-information .description {
            grid-column: span 2;
            padding: 0px 15px; }
      .Home .container .bigPicture:hover > div .img {
        transform: scale(1.02); }
      .Home .container .bigPicture:hover .overlay {
        opacity: 1;
        background: rgba(0, 0, 0, 0.2); }
        .Home .container .bigPicture:hover .overlay .project-information {
          transform: translateY(0px); }
    .Home .container .icon {
      display: inline-block;
      overflow: hidden;
      position: relative;
      min-height: 66vh; }
      .Home .container .icon > img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        max-width: 175px;
        width: auto;
        transition: transform .45s ease; }
      .Home .container .icon .overlay {
        background: rgba(0, 0, 0, 0.25);
        opacity: 0;
        position: absolute;
        height: 100%;
        width: 100%;
        transition: background .25s ease, opacity .25s ease; }
        .Home .container .icon .overlay .project-information {
          position: absolute;
          bottom: 0px;
          padding-bottom: 15px;
          color: #fff;
          display: grid;
          grid-template-columns: 1fr;
          width: 100%;
          align-items: end;
          transform: translateY(100px);
          transition: transform .55s ease;
          background: rgba(0, 0, 0, 0.55);
          padding-top: 10px; }
          .Home .container .icon .overlay .project-information .description {
            grid-column: span 2;
            padding: 0px 15px; }
      .Home .container .icon:hover img {
        transform: translate(-50%, -50%) scale(1.25); }
      .Home .container .icon:hover .overlay {
        opacity: 1;
        background: rgba(0, 0, 0, 0.2); }
        .Home .container .icon:hover .overlay .project-information {
          transform: translateY(0px); } }

@media (min-width: 1200px) {
  .Home .hero {
    display: block;
    position: relative;
    background-color: #2a2a2a;
    min-height: 30vh;
    background: linear-gradient(to bottom, #323232 0%, #3f3f3f 40%, #1c1c1c 150%), linear-gradient(to top, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.25) 200%);
    background-blend-mode: multiply; }
    .Home .hero h1 {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      transform: translate(-50%, -50%);
      display: inline-block;
      font-size: 2.25em;
      color: rgba(255, 255, 255, 0.8); }
      .Home .hero h1 span {
        color: #ff6600; }
  .Home .container {
    display: flex;
    flex-direction: column; }
    .Home .container h2 {
      font-size: 2.75em; }
    .Home .container p {
      font-size: 1.5em; }
    .Home .container .bigPicture {
      overflow: hidden;
      display: flex;
      flex-direction: column; }
      .Home .container .bigPicture > div .img {
        width: 100%;
        height: 75vh;
        background-size: cover;
        background-position: top;
        transform: scale(1.01);
        transition: transform .55s ease;
        background-repeat: no-repeat; }
      .Home .container .bigPicture .overlay {
        background: rgba(0, 0, 0, 0.25);
        opacity: 0;
        position: absolute;
        height: 100%;
        width: 100%;
        transition: background .25s ease, opacity .25s ease; }
        .Home .container .bigPicture .overlay .project-information {
          position: absolute;
          bottom: 0px;
          padding-bottom: 15px;
          color: #fff;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          width: 100%;
          align-items: end;
          transform: translateY(59px);
          transition: transform .55s ease;
          background: rgba(0, 0, 0, 0.55);
          padding-top: 10px; }
          .Home .container .bigPicture .overlay .project-information .description {
            grid-column: span 2;
            padding: 0px 15px; }
      .Home .container .bigPicture:hover > div .img {
        transform: scale(1.02); }
      .Home .container .bigPicture:hover .overlay {
        opacity: 1;
        background: rgba(0, 0, 0, 0.2); }
        .Home .container .bigPicture:hover .overlay .project-information {
          transform: translateY(0px); }
    .Home .container .icon {
      display: inline-block;
      overflow: hidden;
      position: relative;
      min-height: 50vh; }
      .Home .container .icon > img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        max-width: 200px;
        width: auto;
        transition: transform .45s ease; }
      .Home .container .icon .overlay {
        background: rgba(0, 0, 0, 0.25);
        opacity: 0;
        position: absolute;
        height: 100%;
        width: 100%;
        transition: background .25s ease, opacity .25s ease; }
        .Home .container .icon .overlay .project-information {
          position: absolute;
          bottom: 0px;
          padding-bottom: 15px;
          color: #fff;
          display: grid;
          grid-template-columns: 1fr;
          width: 100%;
          align-items: end;
          transform: translateY(100px);
          transition: transform .55s ease;
          background: rgba(0, 0, 0, 0.55);
          padding-top: 10px; }
          .Home .container .icon .overlay .project-information .description {
            grid-column: span 2;
            padding: 0px 15px; }
      .Home .container .icon:hover img {
        transform: translate(-50%, -50%) scale(1.25); }
      .Home .container .icon:hover .overlay {
        opacity: 1;
        background: rgba(0, 0, 0, 0.2); }
        .Home .container .icon:hover .overlay .project-information {
          transform: translateY(0px); } }

@supports (object-fit: cover) {
  .Home .hero {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(to bottom, #323232 0%, #3f3f3f 40%, #1c1c1c 150%), linear-gradient(to top, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.25) 200%);
    background-blend-mode: multiply;
    min-height: 25vh; }
    .Home .hero h1 {
      font-size: 1em;
      color: rgba(255, 255, 255, 0.8);
      text-align: center; }
      .Home .hero h1 span {
        color: #ff6600; }
  .Home .container {
    display: grid;
    grid-template-columns: 1fr; }
    .Home .container .bigPicture {
      overflow: hidden;
      display: flex;
      align-items: center;
      position: relative; }
      .Home .container .bigPicture > div .img {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: top;
        transform: scale(1.01);
        transition: transform .55s ease;
        min-height: 40vh; }
      .Home .container .bigPicture .overlay {
        background: rgba(0, 0, 0, 0.25);
        opacity: 0;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 100%;
        transition: background .25s ease, opacity .25s ease; }
        .Home .container .bigPicture .overlay .project-information {
          position: absolute;
          bottom: 0px;
          padding-bottom: 15px;
          color: #fff;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          width: 100%;
          align-items: end;
          transform: translateY(59px);
          transition: transform .55s ease;
          background: rgba(0, 0, 0, 0.55); }
          .Home .container .bigPicture .overlay .project-information .description {
            grid-column: span 2;
            padding: 0px 15px; }
      .Home .container .bigPicture:hover > div .img {
        transform: scale(1.02); }
      .Home .container .bigPicture:hover .overlay {
        opacity: 1;
        background: rgba(0, 0, 0, 0.35); }
        .Home .container .bigPicture:hover .overlay .project-information {
          transform: translateY(0px); }
    .Home .container .icon {
      display: flex;
      align-items: center;
      justify-content: space-around;
      overflow: hidden;
      position: relative;
      min-height: 40vh; }
      .Home .container .icon > img {
        max-width: 150px;
        width: auto;
        transition: transform .45s ease; }
      .Home .container .icon .overlay {
        background: rgba(0, 0, 0, 0.25);
        opacity: 0;
        bottom: 0;
        left: 0;
        position: absolute;
        height: 100%;
        width: 100%;
        transition: background .25s ease, opacity .25s ease; }
        .Home .container .icon .overlay .project-information {
          position: absolute;
          bottom: 0px;
          padding-bottom: 15px;
          color: #fff;
          display: grid;
          grid-template-columns: 1fr;
          width: 100%;
          align-items: end;
          transform: translateY(100px);
          transition: transform .55s ease;
          background: rgba(0, 0, 0, 0.55); }
          .Home .container .icon .overlay .project-information .description {
            grid-column: span 2;
            padding: 0px 15px; }
      .Home .container .icon:hover img {
        transform: translate(-50%, -50%) scale(1.25, 1.25); }
      .Home .container .icon:hover .overlay {
        opacity: 1;
        background: rgba(0, 0, 0, 0.35); }
        .Home .container .icon:hover .overlay .project-information {
          transform: translateY(0px); }
  @media (min-width: 768px) {
    .Home .hero {
      display: flex;
      align-items: center;
      justify-content: space-around;
      background: linear-gradient(to bottom, #323232 0%, #3f3f3f 40%, #1c1c1c 150%), linear-gradient(to top, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.25) 200%);
      background-blend-mode: multiply;
      min-height: 30vh; }
      .Home .hero h1 {
        font-size: 1.75em;
        color: rgba(255, 255, 255, 0.8); }
        .Home .hero h1 span {
          color: #ff6600; }
    .Home .container {
      display: grid;
      grid-template-columns: 1fr 1fr; }
      .Home .container h2 {
        font-size: 1.65em; }
      .Home .container p {
        font-size: 1.025em; }
      .Home .container .bigPicture {
        overflow: hidden;
        display: flex;
        align-items: center;
        position: relative; }
        .Home .container .bigPicture > .img {
          width: 100%;
          height: 100%;
          background-size: cover;
          transform: scale(1.01);
          transition: transform .55s ease;
          background-position: top; }
        .Home .container .bigPicture .overlay {
          background: rgba(0, 0, 0, 0.25);
          opacity: 0;
          position: absolute;
          height: 100%;
          width: 100%;
          transition: background .25s ease, opacity .25s ease; }
          .Home .container .bigPicture .overlay .project-information {
            position: absolute;
            bottom: 0px;
            padding-bottom: 15px;
            color: #fff;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            width: 100%;
            align-items: end;
            transform: translateY(59px);
            transition: transform .55s ease;
            background: rgba(0, 0, 0, 0.55); }
            .Home .container .bigPicture .overlay .project-information .description {
              grid-column: span 2;
              padding: 0px 15px; }
        .Home .container .bigPicture:hover img {
          transform: scale(1.325, 1.325); }
        .Home .container .bigPicture:hover .overlay {
          opacity: 1;
          background: rgba(0, 0, 0, 0.45); }
          .Home .container .bigPicture:hover .overlay .project-information {
            transform: translateY(0px); }
      .Home .container .icon {
        display: flex;
        align-items: center;
        justify-content: space-around;
        overflow: hidden;
        position: relative;
        min-height: 37.5vh; }
        .Home .container .icon > img {
          max-width: 150px;
          width: auto;
          transition: transform .45s ease; }
        .Home .container .icon .overlay {
          background: rgba(0, 0, 0, 0.25);
          opacity: 0;
          position: absolute;
          height: 100%;
          width: 100%;
          transition: background .25s ease, opacity .25s ease; }
          .Home .container .icon .overlay .project-information {
            position: absolute;
            bottom: 0px;
            padding-bottom: 15px;
            color: #fff;
            display: grid;
            grid-template-columns: 1fr;
            width: 100%;
            align-items: end;
            transform: translateY(100px);
            transition: transform .55s ease;
            background: rgba(0, 0, 0, 0.55); }
            .Home .container .icon .overlay .project-information .description {
              grid-column: span 2;
              padding: 0px 15px; }
        .Home .container .icon:hover img {
          transform: translate(-50%, -50%) scale(1.25, 1.25); }
        .Home .container .icon:hover .overlay {
          opacity: 1;
          background: rgba(0, 0, 0, 0.35); }
          .Home .container .icon:hover .overlay .project-information {
            transform: translateY(0px); } }
  @media (min-width: 1200px) {
    .Home .hero {
      display: flex;
      align-items: center;
      justify-content: space-around;
      min-height: 30vh;
      background: linear-gradient(to bottom, #323232 0%, #3f3f3f 40%, #1c1c1c 150%), linear-gradient(to top, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.25) 200%);
      background-blend-mode: multiply; }
      .Home .hero h1 {
        font-size: 2.25em;
        color: rgba(255, 255, 255, 0.8); }
        .Home .hero h1 span {
          color: #ff6600; }
    .Home .container {
      display: grid;
      grid-template-columns: repeat(3, 1fr); }
      .Home .container h2 {
        font-size: 1.65em; }
      .Home .container p {
        font-size: 1.125em; }
      .Home .container .bigPicture {
        grid-column: span 2;
        grid-row: span 2;
        overflow: hidden;
        display: flex;
        align-items: center;
        position: relative;
        min-height: auto; }
        .Home .container .bigPicture > div .img {
          width: 100%;
          height: 100%;
          background-size: cover;
          background-position: top;
          transform: scale(1.01);
          transition: transform .55s ease;
          background-repeat: no-repeat; }
        .Home .container .bigPicture .overlay {
          background: rgba(0, 0, 0, 0.25);
          opacity: 0;
          position: absolute;
          height: 100%;
          width: 100%;
          transition: background .25s ease, opacity .25s ease; }
          .Home .container .bigPicture .overlay .project-information {
            position: absolute;
            bottom: 0px;
            padding-bottom: 15px;
            color: #fff;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            width: 100%;
            align-items: end;
            transform: translateY(59px);
            transition: transform .55s ease;
            background: rgba(0, 0, 0, 0.55);
            padding-top: 10px; }
            .Home .container .bigPicture .overlay .project-information .description {
              grid-column: span 2;
              padding: 0px 15px; }
        .Home .container .bigPicture:hover > div .img {
          transform: scale(1.02); }
        .Home .container .bigPicture:hover .overlay {
          opacity: 1;
          background: rgba(0, 0, 0, 0.2); }
          .Home .container .bigPicture:hover .overlay .project-information {
            transform: translateY(0px); }
      .Home .container .icon {
        display: flex;
        align-items: center;
        justify-content: space-around;
        overflow: hidden;
        position: relative;
        min-height: 33vh; }
        .Home .container .icon > img {
          max-width: 150px;
          width: auto;
          transition: transform .45s ease; }
        .Home .container .icon .overlay {
          background: rgba(0, 0, 0, 0.25);
          opacity: 0;
          position: absolute;
          height: 100%;
          width: 100%;
          transition: background .25s ease, opacity .25s ease; }
          .Home .container .icon .overlay .project-information {
            position: absolute;
            bottom: 0px;
            padding-bottom: 15px;
            color: #fff;
            display: grid;
            grid-template-columns: 1fr;
            width: 100%;
            align-items: end;
            transform: translateY(100px);
            transition: transform .55s ease;
            background: rgba(0, 0, 0, 0.55);
            padding-top: 10px; }
            .Home .container .icon .overlay .project-information .description {
              grid-column: span 2;
              padding: 0px 15px; }
        .Home .container .icon:hover img {
          transform: translate(-50%, -50%) scale(1.25, 1.25); }
        .Home .container .icon:hover .overlay {
          opacity: 1;
          background: rgba(0, 0, 0, 0.2); }
          .Home .container .icon:hover .overlay .project-information {
            transform: translateY(0px); } } }

.About {
  background-color: #1c1c1c; }
  .About .hero {
    background-image: url("../scenes/About/blurred_bg.jpg");
    filter: blur(10px);
    background-position-x: -450px;
    height: calc(100vh - 116px);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    transition: filter .65s ease-out; }
    .About .hero .hero-text {
      align-self: flex-end;
      justify-self: center;
      grid-row: 4;
      padding-right: 7vw;
      color: rgba(255, 255, 255, 0.9);
      text-align: center; }
    .About .hero span {
      color: #ff6000; }
    .About .hero h1 {
      font-size: 2.25em;
      line-height: 1.25em; }
    .About .hero h2 {
      font-size: 1.8em; }
      .About .hero h2::last-child {
        display: none; }

@media (min-width: 381px) {
  .About {
    background-color: #1c1c1c; }
    .About .hero {
      background-image: url("../scenes/About/blurred_bg.jpg");
      filter: blur(10px);
      height: calc(100vh - 116px);
      background-position-x: -255px;
      background-size: cover;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, 1fr);
      transition: filter .65s ease-out; }
      .About .hero .hero-text {
        align-self: flex-end;
        justify-self: center;
        grid-row: 2 / 4;
        padding-right: 7vw;
        color: rgba(255, 255, 255, 0.9);
        text-align: center; }
      .About .hero span {
        color: #ff6000; }
      .About .hero h1 {
        font-size: 2.5em;
        line-height: 1.25em; }
      .About .hero h2 {
        font-size: 2em; }
        .About .hero h2::last-child {
          display: none; } }

@media (min-width: 617px) {
  .About {
    background-color: #1c1c1c; }
    .About .hero {
      background-image: url("../scenes/About/blurred_bg.jpg");
      filter: blur(10px);
      height: calc(100vh - 116px);
      background-position-x: -110px;
      background-size: stretch;
      background-repeat: no-repeat;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, 1fr);
      transition: filter .65s ease-out; }
      .About .hero .hero-text {
        align-self: flex-end;
        justify-self: center;
        grid-row: 2 / 4;
        padding-right: 7vw;
        color: rgba(255, 255, 255, 0.9);
        text-align: center; }
      .About .hero span {
        color: #ff6000; }
      .About .hero h1 {
        font-size: 3.5em;
        line-height: 1.25em; }
      .About .hero h2 {
        font-size: 1.75em; } }

@media (min-width: 1054px) {
  .About {
    background-color: #1c1c1c; }
    .About .hero {
      background-image: url("../scenes/About/blurred_bg.jpg");
      filter: blur(10px);
      height: calc(100vh - 116px);
      background-position-x: -150px;
      background-size: stretch;
      background-repeat: no-repeat;
      display: grid;
      grid-template-columns: repeat(3, 1fr) max-content;
      grid-template-rows: 1fr max-content repeat(5, minmax(min-content, 1fr));
      transition: filter .65s ease-out; }
      .About .hero .hero-text {
        grid-column: 4;
        grid-row: 2 / 4;
        padding-right: 7vw;
        color: rgba(255, 255, 255, 0.9);
        text-align: left; }
      .About .hero span {
        color: #ff6000; }
      .About .hero h1 {
        font-size: 3.6em;
        line-height: 1.25em; }
      .About .hero h2 {
        font-size: 1.85em; } }

@media (min-width: 1270px) {
  .About {
    background-color: #1c1c1c; }
    .About .hero {
      background-image: url("../scenes/About/blurred_bg.jpg");
      filter: blur(10px);
      height: calc(100vh - 116px);
      background-position-x: -150px;
      background-size: stretch;
      display: grid;
      background-repeat: no-repeat;
      grid-template-columns: repeat(3, 1fr) max-content;
      grid-template-rows: 1fr max-content repeat(5, minmax(min-content, 1fr));
      transition: filter .65s ease-out; }
      .About .hero .hero-text {
        grid-column: 4;
        grid-row: 3 / 2;
        padding-right: 7vw;
        color: rgba(255, 255, 255, 0.9);
        text-align: left; }
      .About .hero span {
        color: #ff6000; }
      .About .hero h1 {
        font-size: 5em;
        line-height: 1.25em; }
      .About .hero h2 {
        font-size: 2.5em; } }

@media (min-width: 1358px) {
  .About {
    background-color: #1c1c1c; }
    .About .hero {
      background-image: url("../scenes/About/blurred_bg.jpg");
      filter: blur(10px);
      height: calc(100vh - 116px);
      background-size: stretch;
      background-position-x: 0px;
      display: grid;
      grid-template-columns: repeat(3, 1fr) max-content;
      grid-template-rows: 1fr max-content repeat(5, minmax(min-content, 1fr));
      transition: filter .65s ease-out; }
      .About .hero .hero-text {
        grid-column: 4;
        grid-row: 3 / 2;
        padding-right: 7vw;
        color: rgba(255, 255, 255, 0.9);
        text-align: left; }
      .About .hero span {
        color: #ff6000; }
      .About .hero h1 {
        font-size: 5em;
        line-height: 1.25em; }
      .About .hero h2 {
        font-size: 2.5em; } }

.blog-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: auto; }
  .blog-wrapper .blog-filter {
    width: 60% !important; }
  .blog-wrapper .blog {
    width: calc(90vw - 50px);
    margin: auto;
    padding: 25px 0px; }
    .blog-wrapper .blog .post {
      background: #fff;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);
      border: 1px solid rgba(0, 0, 0, 0.09);
      border-radius: 3px;
      padding: 15px;
      margin-bottom: 40px; }
      .blog-wrapper .blog .post .avatar {
        border-radius: 50%;
        margin-right: 10px;
        min-width: 40px;
        float: left; }
      .blog-wrapper .blog .post .author {
        display: block;
        font-size: .9em;
        color: #c24d01; }
      .blog-wrapper .blog .post .date {
        font-size: .8em;
        color: rgba(0, 0, 0, 0.44); }
        .blog-wrapper .blog .post .date span {
          display: inline-block;
          padding: 0px 4px; }
      .blog-wrapper .blog .post .title {
        padding: 7.5px 0px;
        font-size: 1.5em;
        display: inline-block;
        line-height: 1.25em;
        word-wrap: break-word;
        width: 100%; }
      .blog-wrapper .blog .post .summary {
        grid-column: span 2;
        align-self: flex-end;
        font-size: 1em;
        font-weight: 300; }

@media (min-width: 722px) {
  .blog-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw; }
    .blog-wrapper .blog-filter {
      width: 55vw !important; }
    .blog-wrapper .blog {
      width: 70vw;
      margin: auto;
      padding: 25px 0px; }
      .blog-wrapper .blog .post {
        background: #fff;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);
        border: 1px solid rgba(0, 0, 0, 0.09);
        border-radius: 3px;
        padding: 15px;
        margin-bottom: 25px; }
        .blog-wrapper .blog .post .avatar {
          border-radius: 50%;
          margin-right: 10px;
          min-width: 40px;
          float: left; }
        .blog-wrapper .blog .post .author {
          display: block;
          font-size: 1em;
          color: #c24d01; }
        .blog-wrapper .blog .post .date {
          font-size: .9em;
          color: rgba(0, 0, 0, 0.44); }
          .blog-wrapper .blog .post .date span {
            display: inline-block;
            padding: 0px 4px; }
        .blog-wrapper .blog .post .title {
          padding: 7.5px 0px 0px 0px;
          overflow: hidden;
          font-size: 2em;
          line-height: 1.25em;
          display: inline-block;
          word-wrap: break-word; }
        .blog-wrapper .blog .post .summary {
          align-self: flex-end;
          font-size: 1.3em;
          font-weight: 300; } }

@media (min-width: 1200px) {
  .blog-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(75vw - 50px);
    margin: auto; }
    .blog-wrapper .blog-filter {
      width: 60vw !important; }
    .blog-wrapper .blog {
      width: 100%;
      padding: 25px 0px;
      display: flex;
      flex-direction: row; }
      .blog-wrapper .blog .post {
        background: #fff;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);
        border: 1px solid rgba(0, 0, 0, 0.09);
        border-radius: 3px;
        display: block;
        max-width: calc(50% - 30px);
        margin: 0px 20px; }
        .blog-wrapper .blog .post .avatar {
          float: left;
          border-radius: 50%;
          margin-right: 10px; }
        .blog-wrapper .blog .post .author {
          display: block;
          font-size: .9em;
          color: #c24d01; }
        .blog-wrapper .blog .post .date {
          font-size: .8em;
          color: rgba(0, 0, 0, 0.44); }
          .blog-wrapper .blog .post .date span {
            display: inline-block;
            padding: 0px 4px; }
        .blog-wrapper .blog .post .title {
          width: 100%;
          padding: 15px 0px 0px 0px;
          display: inline-block;
          overflow: hidden;
          font-size: 1.85em;
          line-height: 1.25em; }
        .blog-wrapper .blog .post .summary {
          font-size: 1.2em;
          font-weight: 300; } }

@supports (object-fit: cover) {
  .blog-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: auto; }
    .blog-wrapper .blog-filter {
      width: 60% !important; }
    .blog-wrapper .blog {
      width: calc(90vw - 50px);
      margin: auto;
      padding: 25px 0px;
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 25px; }
      .blog-wrapper .blog .post {
        background: #fff;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);
        border: 1px solid rgba(0, 0, 0, 0.09);
        border-radius: 3px;
        margin-bottom: 0px;
        padding: 15px;
        display: grid;
        grid-template-columns: min-content 1fr;
        grid-template-rows: min-content min-content 1fr min-content; }
        .blog-wrapper .blog .post .avatar {
          grid-row: span 2;
          border-radius: 50%;
          margin-right: 10px; }
        .blog-wrapper .blog .post .author {
          grid-column: 2;
          font-size: .9em;
          color: #c24d01; }
        .blog-wrapper .blog .post .date {
          grid-column: 2;
          font-size: .8em;
          color: rgba(0, 0, 0, 0.44); }
          .blog-wrapper .blog .post .date span {
            display: inline-block;
            padding: 0px 4px; }
        .blog-wrapper .blog .post .title {
          padding: 7.5px 0px;
          grid-column: span 2;
          font-size: 1.5em;
          line-height: 1.25em;
          word-wrap: break-word; }
        .blog-wrapper .blog .post .summary {
          grid-column: span 2;
          align-self: flex-end;
          font-size: 1em;
          font-weight: 300; }
  @media (min-width: 722px) {
    .blog-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100vw; }
      .blog-wrapper .blog-filter {
        width: 80vw !important; }
      .blog-wrapper .blog {
        width: 90vw;
        margin: auto;
        padding: 25px 0px;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 25px; }
        .blog-wrapper .blog .post {
          background: #fff;
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);
          border: 1px solid rgba(0, 0, 0, 0.09);
          border-radius: 3px;
          padding: 15px;
          display: grid;
          grid-template-columns: min-content 1fr;
          grid-template-rows: min-content min-content 1fr min-content; }
          .blog-wrapper .blog .post .avatar {
            grid-row: span 2;
            border-radius: 50%;
            margin-right: 10px;
            min-width: 40px; }
          .blog-wrapper .blog .post .author {
            grid-column: 2;
            font-size: 1em;
            color: #c24d01; }
          .blog-wrapper .blog .post .date {
            grid-column: 2;
            font-size: .9em;
            color: rgba(0, 0, 0, 0.44); }
            .blog-wrapper .blog .post .date span {
              display: inline-block;
              padding: 0px 4px; }
          .blog-wrapper .blog .post .title {
            padding: 5px 0px;
            grid-column: span 2;
            font-size: 1.75em;
            line-height: 1.25em;
            word-wrap: break-word; }
          .blog-wrapper .blog .post .summary {
            grid-column: span 2;
            align-self: flex-end;
            font-size: 1.2em;
            font-weight: 300; } }
  @media (min-width: 1200px) {
    .blog-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: calc(68vw - 50px);
      margin: auto; }
      .blog-wrapper .blog-filter {
        width: 55vw !important; }
      .blog-wrapper .blog {
        width: 100%;
        padding: 25px 0px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 25px; }
        .blog-wrapper .blog .post {
          background: #fff;
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);
          border: 1px solid rgba(0, 0, 0, 0.09);
          border-radius: 3px;
          padding: 15px;
          margin: 0px;
          max-width: 100%;
          display: grid;
          grid-template-columns: min-content 1fr;
          grid-template-rows: 19px 20px min-content min-content; }
          .blog-wrapper .blog .post .avatar {
            grid-row: span 2;
            border-radius: 50%;
            margin-right: 10px; }
          .blog-wrapper .blog .post .author {
            grid-column: 2;
            font-size: .9em;
            color: #c24d01; }
          .blog-wrapper .blog .post .date {
            grid-column: 2;
            font-size: .8em;
            color: rgba(0, 0, 0, 0.44); }
            .blog-wrapper .blog .post .date span {
              display: inline-block;
              padding: 0px 4px; }
          .blog-wrapper .blog .post .title {
            margin: 5px 0px;
            grid-column: span 2;
            font-size: 1.65em;
            line-height: 1.25em;
            word-wrap: break-word; }
          .blog-wrapper .blog .post .summary {
            grid-column: span 2;
            align-self: flex-start;
            font-size: 1.1em;
            font-weight: 300; } } }

.blog-post {
  position: relative; }
  .blog-post .back-to-blog {
    position: fixed;
    background-color: #fff;
    width: 100%;
    padding: 10px 0px 10px 10px;
    border-bottom: 1px solid rgba(34, 34, 34, 0.25);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    height: 43px; }
    .blog-post .back-to-blog a {
      display: grid;
      grid-template-columns: min-content max-content;
      grid-gap: 5px;
      width: 125px;
      align-items: center; }
  .blog-post a {
    display: inline-block;
    padding-left: 7.5px;
    transition: color .25s ease; }
    .blog-post a:hover {
      color: #c24d01; }
  .blog-post .container {
    width: 100%;
    background-color: #efefef;
    padding: 20px 0px; }
    .blog-post .container .markdown-body {
      background-color: #fff;
      padding: 20px;
      width: calc(95vw - 15px);
      font-size: .85em;
      margin: 48px auto 5px auto;
      font-family: Lora; }

@media (min-width: 800px) {
  .blog-post {
    position: relative; }
    .blog-post .back-to-blog {
      position: fixed;
      background-color: #fff;
      width: 100%;
      padding: 10px 0px 10px 10px;
      border-bottom: 1px solid rgba(34, 34, 34, 0.25);
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
      height: 43px; }
      .blog-post .back-to-blog a {
        display: grid;
        grid-template-columns: min-content max-content;
        grid-gap: 5px;
        width: 125px;
        align-items: center; }
    .blog-post a {
      display: inline-block;
      padding-left: 10px;
      transition: color .25s ease; }
      .blog-post a:hover {
        color: #c24d01; }
    .blog-post .container {
      width: 100%;
      padding: 20px 0px;
      background-color: #cddcdc;
      background-image: radial-gradient(at 50% 100%, rgba(255, 255, 255, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), linear-gradient(to bottom, rgba(255, 255, 255, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%);
      background-blend-mode: screen, overlay; }
      .blog-post .container .markdown-body {
        background-color: #fff;
        width: calc(60vw - 30px);
        padding: 20px;
        margin: 48px auto 5px auto;
        font-size: 1.2em;
        font-family: Lora;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.22); } }

.contact {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 116px);
  color: #222;
  background-color: #fff;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAICAYAAADA+m62AAAAPklEQVQoU2NkQAOvX79uEBUVbUAXZ0QWgCnCphiuEF0SnQ9WiMs6ZHFGXIpgToLJo7gR3QPIiolSCNJAtEIAt5YnSnQvmLAAAAAASUVORK5CYII=); }
  .contact .hero {
    display: flex;
    height: 25vh;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .contact .hero h2 {
      font-size: 2em; }
    .contact .hero h3 {
      font-size: 1.5em; }
  .contact .wrapper {
    display: flex;
    flex-direction: row; }
    .contact .wrapper h4 {
      font-size: 1.3em; }
    .contact .wrapper p {
      font-size: 1em;
      font-weight: 300; }
    .contact .wrapper .contact-form,
    .contact .wrapper .other-contact {
      width: 50%;
      display: flex;
      flex-direction: column; }
    .contact .wrapper .form-wrapper {
      padding: 15px 0px 30px 0px;
      width: calc(100% / 1.35);
      margin: auto;
      display: flex;
      min-height: 100%;
      flex-direction: column;
      align-items: center;
      background-color: #fff;
      border: 1px solid rgba(0, 0, 0, 0.1);
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.27); }
    .contact .wrapper .contact-form .form-hero {
      display: flex;
      flex-direction: column;
      align-items: center; }
    .contact .wrapper .contact-form .contact-input,
    .contact .wrapper .contact-form .contact-button {
      width: 80% !important; }
    .contact .wrapper .contact-form .contact-button {
      margin: 14px auto 0px auto; }
    .contact .wrapper .other-contact {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .contact .wrapper .other-contact p {
        text-align: center; }
      .contact .wrapper .other-contact .other-content p,
      .contact .wrapper .other-contact .other-content h5,
      .contact .wrapper .other-contact .other-content .social {
        margin-top: 10px; }
      .contact .wrapper .other-contact .other-content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-top: 35px; }
        .contact .wrapper .other-contact .other-content h5 {
          text-align: center;
          font-size: 1.2em; }
          .contact .wrapper .other-contact .other-content h5 a {
            border-bottom: 1px dotted;
            border-color: #222;
            display: inline-block; }
          .contact .wrapper .other-contact .other-content h5:hover a {
            color: #c24d01;
            border-color: #c24c00; }
        .contact .wrapper .other-contact .other-content .social {
          display: flex;
          flex-direction: row;
          justify-content: center; }
          .contact .wrapper .other-contact .other-content .social a {
            background: #222;
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            margin: 0px 5px; }
            .contact .wrapper .other-contact .other-content .social a:hover {
              background: #c24d01; }
            .contact .wrapper .other-contact .other-content .social a .icon {
              font-size: 25px;
              color: #F5FFFA; }

header {
  position: fixed;
  width: 100%;
  z-index: 2; }
  header .navbar {
    height: 64px; }
    header .navbar > div:first-child {
      display: inline-block; }
  header .logo-wrapper {
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #F5FFFA;
    width: 250px; }
    header .logo-wrapper .logo {
      max-width: 48px;
      width: 48px;
      height: 48px; }
    header .logo-wrapper h1 {
      margin-left: 15px;
      font-size: 1em;
      display: inline-block; }
    header .logo-wrapper h2 {
      font-size: .65em;
      margin-bottom: 5px;
      display: none; }

.nav-items {
  width: 200px;
  height: 100%;
  display: block;
  float: right; }
  .nav-items .nav-item {
    color: #F5FFFA !important; }
    .nav-items .nav-item div:first-child {
      display: flex;
      align-items: center;
      justify-content: center; }

@media (min-width: 755px) {
  header {
    position: fixed;
    width: 100%;
    z-index: 2; }
    header .navbar {
      height: 64px; }
      header .navbar > div:first-child {
        display: inline-block; }
    header .logo-wrapper {
      cursor: pointer;
      display: flex;
      align-items: center;
      color: #F5FFFA;
      width: 370px; }
      header .logo-wrapper .logo {
        max-width: 48px;
        width: 48px;
        height: 48px; }
      header .logo-wrapper h1 {
        margin-left: 15px;
        font-size: 1em;
        display: inline-block; }
      header .logo-wrapper h2 {
        font-size: .65em;
        margin-bottom: 5px;
        display: none; }
  .nav-items {
    width: 300px;
    height: 100%;
    display: block;
    float: right;
    overflow: hidden; }
    .nav-items .nav-item {
      color: #F5FFFA !important; }
      .nav-items .nav-item div:first-child {
        display: flex;
        align-items: center;
        justify-content: center; } }

@supports (object-fit: cover) {
  header {
    position: fixed;
    width: 100%;
    z-index: 2; }
    header .navbar {
      height: 64px;
      padding-left: 20px !important; }
      header .navbar > div:first-child {
        height: 64px !important;
        flex: none; }
    header .logo-wrapper {
      cursor: pointer;
      display: grid;
      grid-template-columns: max-content 1fr;
      grid-template-rows: 32px 32px;
      align-items: center;
      color: #F5FFFA;
      width: auto; }
      header .logo-wrapper .logo {
        max-width: 36px;
        width: 36px;
        height: 36px;
        grid-row: span 2; }
      header .logo-wrapper h1 {
        font-size: .8em;
        margin-top: 30px;
        padding-left: 15px;
        grid-column: 2;
        display: none;
        margin-left: 0px; }
      header .logo-wrapper h2 {
        font-size: .55em;
        padding-left: 15px;
        grid-column: 2;
        margin-bottom: 4px;
        display: none; }
    header .nav-items > div:first-child {
      width: 225px !important; }
    header .nav-item div:first-child {
      display: flex;
      align-items: center;
      justify-content: center; }
  @media (min-width: 715px) {
    header {
      position: fixed;
      width: 100%;
      z-index: 2; }
      header .navbar {
        height: 64px; }
      header .logo-wrapper {
        cursor: pointer;
        display: grid;
        grid-template-columns: max-content 1fr;
        grid-template-rows: 32px 32px;
        align-items: center;
        color: #F5FFFA;
        width: 370px; }
        header .logo-wrapper .logo {
          max-width: 48px;
          width: 48px;
          height: 48px;
          grid-row: span 2; }
        header .logo-wrapper h1 {
          font-size: 1em;
          margin-top: 7.5px;
          grid-column: 2;
          display: block;
          line-height: 1em;
          margin-left: 0px; }
        header .logo-wrapper h2 {
          font-size: .65em;
          grid-column: 2;
          margin-bottom: 5px;
          display: block;
          line-height: 1em; }
    .nav-items {
      width: auto !important; }
      .nav-items .nav-item {
        color: #F5FFFA !important; }
        .nav-items .nav-item div:first-child {
          display: flex;
          align-items: center;
          justify-content: center; } } }

.footer {
  position: relative;
  bottom: 0px;
  width: 100%;
  color: rgba(255, 255, 255, 0.7);
  background-color: #2b2b2b; }
  .footer p {
    padding: 15px; }

body,
#root {
  height: 100%; }
  body .fade-appear,
  body .fade-enter,
  #root .fade-appear,
  #root .fade-enter {
    opacity: 0; }
  body .fade-appear-active,
  body .fade-enter-active,
  #root .fade-appear-active,
  #root .fade-enter-active {
    transition: opacity .2s ease-out;
    opacity: 1; }
  body .fade-exit,
  #root .fade-exit {
    transition: opacity .2s ease-out;
    opacity: 1; }
  body .fade-exit-active,
  #root .fade-exit-active {
    opacity: 0; }
  body .site,
  #root .site {
    font-family: 'Roboto', sans-serif;
    height: 100%; }
    body .site main,
    #root .site main {
      padding-top: 64px;
      min-height: calc(100% - 52px); }
    body .site .no-select,
    #root .site .no-select {
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
