.Home {
	padding-top: 64px;
	.container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		h2 {
			font-size: 1.3em;
		}
		.bigPicture {
			grid-column: span 2;
			grid-row: span 2;
			overflow: hidden;
			display: flex;
			align-items: center;
			position: relative;
			> img {
				width: 100%;
				transition: transform .45s ease;
			}
			.overlay {
				background: rgba(0, 0, 0, 0.25);
				opacity: 0;
				position: absolute;
				height: 100%;
				width: 100%;
				transition: background .25s ease, opacity .25s ease;
				.project-information {
					position: absolute;
					bottom: 0px;
					padding-bottom: 15px;
					color: #fff;
					display: grid;
					grid-template-columns: repeat(2, 1fr);
					width: 100%;
					align-items: end;
					transform: translateY(59px);
					transition: transform .55s ease;
					background: linear-gradient(0deg, rgba(51, 51, 51, .25), transparent);
					.description {
						grid-column: 1;
						padding-left: 15px;
					}
					.technology {
						text-align: right;
						grid-column: 2;
						padding-right: 15px;
					}
				}
			}
			&:hover {
				img {
					transform: scale(1.025, 1.025);
				}
				.overlay {
					opacity: 1;
					background: rgba(0, 0, 0, .45);
					.project-information {
						transform: translateY(0px);
					}
				}
			}
		}
		.icon {
			display: flex;
			align-items: center;
			justify-content: space-around;
			overflow: hidden;
			position: relative;
			box-shadow: inset -4px -5px 11px 0px rgba(0,0,0,0.1);
			> img {
				max-width: 150px;
				transition: transform .45s ease;
			}
			.overlay {
				background: rgba(0, 0, 0, .25);
				opacity: 0;
				position: absolute;
				height: 100%;
				width: 100%;
				transition: background .25s ease, opacity .25s ease;
				.project-information {
					position: absolute;
					bottom: 0px;
					padding-bottom: 15px;
					color: #fff;
					display: grid;
					grid-template-columns: repeat(2, 1fr);
					width: 100%;
					align-items: end;
					transform: translateY(100px);
					transition: transform .55s ease;
					background: linear-gradient(0deg, rgba(51, 51, 51, .45), transparent);
					.description {
						grid-column: 1;
						padding-left: 15px;
					}
					.technology {
						text-align: right;
						grid-column: 2;
						padding-right: 15px;
					}
				}
			}
			&:hover {
				img {
					transform: scale(1.5, 1.5);
				}
				.overlay {
					opacity: 1;
					background: rgba(0, 0, 0, .35);
					.project-information {
						transform: translateY(0px);
					}
				}
			}
		}
	}
}