nav.nav {
	position: fixed;
  left: 50%;
  transform: translateX(-50%);
	height: 80px;
	width: 100%;
	background-color: rgba(255, 255, 255, .45);
	.navbar {
		display: flex;
		flex-direction: row;
		width: 1200px;
		margin: auto;
		justify-content: space-between;
		align-items: center;
		height: 80px;
		.navbar-brand {
			height: 40px;
			display: flex;
			align-items: center;
		}
		.navbar-items {
			display: flex;
			flex-direction: row;
			.nav-item {
				padding: 0px 25px;
			}
		}
	}
}
