header {
  position: fixed;
  width: 100%;
  z-index: 2;
  .navbar {
    height: 64px;
    > div:first-child {
      display: inline-block;
    }
  }
  .logo-wrapper {
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #F5FFFA;
    // width: 250px;
    height: 100%;
    .logo {
      max-width: 48px;
      width: 48px;
      height: 48px;
    }
    h1 {
      margin-left: 15px;
      font-size: 1em;
      display: none;
    }
    h2 {
      font-size: .65em;
      margin-bottom: 5px;
      display: none;
    }
  }
}
.nav-items {
  width: 200px;
  height: 100%;
  display: block;
  float: right;
  .nav-item {
    color: #F5FFFA !important;
    div:first-child {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

@media (min-width: 755px) {
  header {
    position: fixed;
    width: 100%;
    z-index: 2;
    .navbar {
      height: 64px;
      > div:first-child {
        display: inline-block;
      }
    }
    .logo-wrapper {
      cursor: pointer;
      display: flex;
      align-items: center;
      color: #F5FFFA;
      width: 370px;
      .logo {
        max-width: 48px;
        width: 48px;
        height: 48px;
      }
      h1 {
        margin-left: 15px;
        font-size: 1em;
        display: inline-block;
      }
      h2 {
        font-size: .65em;
        margin-bottom: 5px;
        display: none;
      }
    }
  }
  .nav-items {
    width: 300px;
    height: 100%;
    display: block;
    float: right;
    overflow: hidden;
    .nav-item {
      color: #F5FFFA !important;
      div:first-child {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

@supports (object-fit: cover) {
  header {
    position: fixed;
    width: 100%;
    z-index: 2;
    .navbar {
      height: 64px;
      padding-left: 20px !important;
    }
    .logo-wrapper {
      cursor: pointer;
      display: grid;
      grid-template-columns: max-content 1fr;
      grid-template-rows: 32px 32px;
      align-items: center;
      color: #F5FFFA;
      width: auto;
      .logo {
        max-width: 36px;
        width: 36px;
        height: 36px;
        grid-row: span 2;
      }
      h1 {
        font-size: .8em;
        margin-top: 30px;
        padding-left: 15px;
        grid-column: 2;
        display: none;
        margin-left: 0px;
      }
      h2 {
        font-size: .55em;
        padding-left: 15px;
        grid-column: 2;
        margin-bottom: 4px;
        display: none;
      }
    }
    .nav-items {
      > div:first-child {
        // width: 225px !important;
      }
    }

    .nav-item {
      div:first-child {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  @media (min-width: 715px) {
    header {
      position: fixed;
      width: 100%;
      z-index: 2;
      .navbar {
        height: 64px;
      }
      .logo-wrapper {
        cursor: pointer;
        display: grid;
        grid-template-columns: max-content 1fr;
        grid-template-rows: 32px 32px;
        align-items: center;
        color: #F5FFFA;
        width: 370px;
        .logo {
          max-width: 48px;
          width: 48px;
          height: 48px;
          grid-row: span 2;
        }
        h1 {
          font-size: 1em;
          margin-top: 7.5px;
          grid-column: 2;
          display: block;
          line-height: 1em;
          margin-left: 0px;
        }
        h2 {
          font-size: .65em;
          grid-column: 2;
          margin-bottom: 5px;
          display: block;
          line-height: 1em;
        }
      }
    }
    .nav-items {
      width: 250px !important;
      .nav-item {
        color: #F5FFFA !important;
        div:first-child {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}
