.About {
  .hero {
    background: linear-gradient(
        to bottom,
        #323232 0%,
        #3f3f3f 40%,
        #1c1c1c 150%
      ),
      linear-gradient(
        to top,
        rgba(255, 255, 255, 0.40) 0%,
        rgba(0, 0, 0, 0.25) 200%
      );
    background-blend-mode: multiply;
    height: calc(100vh - 116px);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    .hero-text {
      align-self: flex-end;
      justify-self: center;
      grid-row: 2 / 4;
      padding-right: 7vw;
      color: rgba(255, 255, 255, .9);
      text-align: center;
    }
    span {
      color: #ff6000;
    }
    h1 {
      font-size: 2.5em;
      line-height: 1.25em;
    }
    h2 {
      font-size: 2em;
      &::last-child {
        display: none;
      }
    }
  }
}
@media (min-width: 381px) {
  .About {
    .hero {
      background-image: url(http://malikbrowne.com/assets/selfie/about_bg3.jpg);
      height: calc(100vh - 116px);
      background-position-x: -255px;
      background-size: cover;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, 1fr);
      .hero-text {
        align-self: flex-end;
        justify-self: center;
        grid-row: 2 / 4;
        padding-right: 7vw;
        color: rgba(255, 255, 255, .9);
        text-align: center;
      }
      span {
        color: #ff6000;
      }
      h1 {
        font-size: 2.5em;
        line-height: 1.25em;
      }
      h2 {
        font-size: 2em;
        &::last-child {
          display: none;
        }
      }
    }
  }
}
@media (min-width: 617px) {
  .About {
    .hero {
      background-image: url(http://malikbrowne.com/assets/selfie/about_bg3.jpg);
      height: calc(100vh - 116px);
      background-position-x: -110px;
      background-size: cover;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, 1fr);
      .hero-text {
        align-self: flex-end;
        justify-self: center;
        grid-row: 2 / 4;
        padding-right: 7vw;
        color: rgba(255, 255, 255, .9);
        text-align: center;
      }
      span {
        color: #ff6000;
      }
      h1 {
        font-size: 3.5em;
        line-height: 1.25em;
      }
      h2 {
        font-size: 1.75em;
      }
    }
  }
}
@media (min-width: 915px) {
  .About {
    .hero {
      background-image: url(http://malikbrowne.com/assets/selfie/about_bg3.jpg);
      height: calc(100vh - 116px);
      background-position-x: -275px;
      background-size: stretch;
      display: grid;
      grid-template-columns: repeat(3, 1fr) max-content;
      grid-template-rows: 1fr max-content repeat(5, minmax(min-content, 1fr));
      .hero-text {
        grid-column: 4;
        grid-row: 2 / 4;
        padding-right: 7vw;
        color: rgba(255, 255, 255, .9);
        text-align: left;
      }
      span {
        color: #ff6000;
      }
      h1 {
        font-size: 3.5em;
        line-height: 1.25em;
      }
      h2 {
        font-size: 1.75em;
      }
    }
  }
}
@media (min-width: 1253px) {
  .About {
    .hero {
      background-image: url(http://malikbrowne.com/assets/selfie/about_bg3.jpg);
      height: calc(100vh - 116px);
      background-position-x: -200px;
      background-size: stretch;
      display: grid;
      grid-template-columns: repeat(3, 1fr) max-content;
      grid-template-rows: 1fr max-content repeat(5, minmax(min-content, 1fr));
      .hero-text {
        grid-column: 4;
        grid-row: 2 / 4;
        padding-right: 7vw;
        color: rgba(255, 255, 255, .9);
        text-align: left;
      }
      span {
        color: #ff6000;
      }
      h1 {
        font-size: 5em;
        line-height: 1.25em;
      }
      h2 {
        font-size: 2.5em;
      }
    }
  }
}
@media (min-width: 1467px) {
  .About {
    .hero {
      background-image: url(http://malikbrowne.com/assets/selfie/about_bg3.jpg);
      height: calc(100vh - 116px);
      background-size: stretch;
      background-position-x: 0px;
      display: grid;
      grid-template-columns: repeat(3, 1fr) max-content;
      grid-template-rows: 1fr max-content repeat(5, minmax(min-content, 1fr));
      .hero-text {
        grid-column: 4;
        grid-row: 2 / 4;
        padding-right: 7vw;
        color: rgba(255, 255, 255, .9);
        text-align: left;
      }
      span {
        color: #ff6000;
      }
      h1 {
        font-size: 5em;
        line-height: 1.25em;
      }
      h2 {
        font-size: 2.5em;
      }
    }
  }
}
