.About {
  background-color: #1c1c1c;
  .hero {
    background-image: url('../scenes/About/blurred_bg.jpg');
    filter: blur(10px);
    background-position-x: -450px;
    height: calc(100vh - 116px);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    transition: filter .65s ease-out;
    .hero-text {
      align-self: flex-end;
      justify-self: center;
      grid-row: 4;
      padding-right: 7vw;
      color: rgba(255, 255, 255, .9);
      text-align: center;
    }
    span {
      color: #ff6000;
    }
    h1 {
      font-size: 2.25em;
      line-height: 1.25em;
    }
    h2 {
      font-size: 1.8em;
      &::last-child {
        display: none;
      }
    }
  }
}
@media (min-width: 381px) {
  .About {
    background-color: #1c1c1c;
    .hero {
      background-image: url('../scenes/About/blurred_bg.jpg');
      filter: blur(10px);
      height: calc(100vh - 116px);
      background-position-x: -255px;
      background-size: cover;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, 1fr);
      transition: filter .65s ease-out;
      .hero-text {
        align-self: flex-end;
        justify-self: center;
        grid-row: 2 / 4;
        padding-right: 7vw;
        color: rgba(255, 255, 255, .9);
        text-align: center;
      }
      span {
        color: #ff6000;
      }
      h1 {
        font-size: 2.5em;
        line-height: 1.25em;
      }
      h2 {
        font-size: 2em;
        &::last-child {
          display: none;
        }
      }
    }
  }
}
@media (min-width: 617px) {
  .About {
    background-color: #1c1c1c;
    .hero {
      background-image: url('../scenes/About/blurred_bg.jpg');
      filter: blur(10px);
      height: calc(100vh - 116px);
      background-position-x: -110px;
      background-size: stretch;
      background-repeat: no-repeat;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, 1fr);
      transition: filter .65s ease-out;
      .hero-text {
        align-self: flex-end;
        justify-self: center;
        grid-row: 2 / 4;
        padding-right: 7vw;
        color: rgba(255, 255, 255, .9);
        text-align: center;
      }
      span {
        color: #ff6000;
      }
      h1 {
        font-size: 3.5em;
        line-height: 1.25em;
      }
      h2 {
        font-size: 1.75em;
      }
    }
  }
}
@media (min-width: 1054px) {
  .About {
    background-color: #1c1c1c;
    .hero {
      background-image: url('../scenes/About/blurred_bg.jpg');
      filter: blur(10px);
      height: calc(100vh - 116px);
      background-position-x: -150px;
      background-size: stretch;
      background-repeat: no-repeat;
      display: grid;
      grid-template-columns: repeat(3, 1fr) max-content;
      grid-template-rows: 1fr max-content repeat(5, minmax(min-content, 1fr));
      transition: filter .65s ease-out;
      .hero-text {
        grid-column: 4;
        grid-row: 2 / 4;
        padding-right: 7vw;
        color: rgba(255, 255, 255, .9);
        text-align: left;
      }
      span {
        color: #ff6000;
      }
      h1 {
        font-size: 3.6em;
        line-height: 1.25em;
      }
      h2 {
        font-size: 1.85em;
      }
    }
  }
}
@media (min-width: 1270px) {
  .About {
    background-color: #1c1c1c;
    .hero {
      background-image: url('../scenes/About/blurred_bg.jpg');
      filter: blur(10px);
      height: calc(100vh - 116px);
      background-position-x: -150px;
      background-size: stretch;
      display: grid;
      background-repeat: no-repeat;
      grid-template-columns: repeat(3, 1fr) max-content;
      grid-template-rows: 1fr max-content repeat(5, minmax(min-content, 1fr));
      transition: filter .65s ease-out;
      .hero-text {
        grid-column: 4;
        grid-row: 3 / 2;
        padding-right: 7vw;
        color: rgba(255, 255, 255, .9);
        text-align: left;
      }
      span {
        color: #ff6000;
      }
      h1 {
        font-size: 5em;
        line-height: 1.25em;
      }
      h2 {
        font-size: 2.5em;
      }
    }
  }
}
@media (min-width: 1358px) {
  .About {
    background-color: #1c1c1c;
    .hero {
      background-image: url('../scenes/About/blurred_bg.jpg');
      filter: blur(10px);
      height: calc(100vh - 116px);
      background-size: stretch;
      background-position-x: 0px;
      display: grid;
      grid-template-columns: repeat(3, 1fr) max-content;
      grid-template-rows: 1fr max-content repeat(5, minmax(min-content, 1fr));
      transition: filter .65s ease-out;
      .hero-text {
        grid-column: 4;
        grid-row: 3 / 2;
        padding-right: 7vw;
        color: rgba(255, 255, 255, .9);
        text-align: left;
      }
      span {
        color: #ff6000;
      }
      h1 {
        font-size: 5em;
        line-height: 1.25em;
      }
      h2 {
        font-size: 2.5em;
      }
    }
  }
}
