// Import Reset stylesheet
@import "reset";

// Import base stylesheets for all scenes
@import "./scenes/Home/base";
@import "scenes/About/base";
@import "scenes/NotFound/base";
@import "scenes/BlogList/base";
@import "scenes/BlogPost/base";
@import "scenes/Contact/base";
@import "scenes/Projects/BeesDesign/base";

// Import base stylesheets for all components
@import "components/Navbar/base";
@import "components/Footer/base";
@import "components/ProjectPage/base";

html, body {
  #root {
    .fade-appear,
    .fade-enter {
      opacity: 0;
    }
  
    .fade-appear-active,
    .fade-enter-active {
      transition: opacity .3s ease;
      opacity: 1;
    }
  
    .fade-exit {
      transition: opacity .3s ease;
      opacity: 1;
    }
  
    .fade-exit-active {
      opacity: 0;
    }
    .site {
      font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
      main {
        padding-top: 64px;
        min-height: calc(100vh - 52px);
        background-color: rgb(248, 248, 248);
      }
  
      .no-select {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
    }
  }  
}

@media(max-width: 800px) {
  .progress-wrapper {
    display: none;
  }
}