html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0;
  padding: 0; }

img {
  display: block;
  border: 0;
  width: 100%;
  height: auto; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.site {
  font-family: 'Roboto', sans-serif; }
  .site h1 {
    font-size: 3em; }
  .site h2 {
    font-size: 2.5em; }
  .site h3 {
    font-size: 2em; }
  .site h4 {
    font-size: 1.75em;
    margin: 20px 0; }
  .site p {
    line-height: 1.6em; }
  .site .no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
